/* 상품 목록 컨테이너 */
.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    max-width: 1280px;
}

.product-list-container .product-list-body {
    width: 100%;
    position: relative;
}

.product-list-title {
    display: flex;
    align-items: center;
    font-size: 32px;
    margin-bottom: 0;
}

.product-list-body button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    border: none;
    background-color: white;
    opacity: 0.8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product-list-body button:first-child {
    left: -28px;
}

.product-list-body button:last-child {
    right: -28px;
}

/* 상품 그리드 (격자 형태) */
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5개씩 배치 */
    gap: 20px;
    /* 카드 간 간격 */
    justify-content: center;
    /* 중앙 정렬 */
    padding: 20px 0;
}

/* 상품 카드 */
.product-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

/* 상품 이미지 */
.product-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
}

/* 상품 제목 */
.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* 상품 장소 */
.product-place {
    font-size: 14px;
    color: #666;
}

/* 상품 날짜 */
.product-dates {
    font-size: 14px;
    color: #999;
}


.specialProduct-rate {
    color: red;
    font-size: 1.25em;
    margin-right: 8px;
}

.specialProduct-price {
    font-size: 1.25em;
}

/* 상품 제목 */
.product-title {
    font-size: 1.3em;
    font-weight: bold;
}

/* 링크 안의 텍스트 색상 변경 */
a {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 기본 링크 색상 */
}

/* 방문한 링크 색상도 검정색 유지 */
a:visited {
    color: black;
}

/* 호버(마우스 오버) 시 색상 유지 */
a:hover {
    color: black;
}
