.order-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-container {
    width: 100%;
    border-top: 1px solid gray;
    padding: 0 20px;
}

.order-header .header-text {
    margin: 15px 0;
    font-weight: normal;
    font-size: 13px;
}

.order-body .poster-box {
    width: 75px;
    height: 100px;
}

.order-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-body-left {
    display: flex;
}

.order-body-right {
    display: flex;
    align-items: center;
}

.order-body-right .order-price-text {
    margin-right: 20px;
}